{% extends 'enroll/base.html' %}
{% block message %}
<div class="row justify-content-center mt-5 text-white">
  <div class="col-md-8">
    <h3>About Us</h3>   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, soluta magni! Quam dolor tenetur ipsa vel sapiente qui corporis vitae ratione eos aut autem, architecto, quisquam dignissimos, mollitia quod voluptatibus explicabo sed odio labore. Beatae autem soluta sequi nisi. Nesciunt at, animi sunt sit suscipit unde possimus vitae nulla magni. Nemo maxime eaque voluptatem culpa consequatur, voluptas aliquid 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim inventore veniam pariatur beatae aliquid omnis corporis error nihil, sint, impedit ea? Illo pariatur ut eligendi accusamus velit soluta tempore.
    dolorum incidunt!</p>
  </div>
</div>
{% endblock message %}