{% extends 'enroll/base.html' %}
{% block message %}
<div class="container text-white">
  <div class="row">
    <div class="col-md-12 mt-3">
      {% if messages %}
      {% for message in messages %}
      <div {% if message %} class="alert alert-{{message.tags}}" {% endif %}role="alert"><h3>{{message}}</h3></div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock message %}
{% block content %}
<div class="container">
  <div class="row text-white">
    <div class="col-md-3 text-left  mt-5">
      <h3>Profile</h3>
      <p>{{name}}<br>{{email}}<br>{% for gps in groups %}{{gps}}{% endfor %}</p>
    </div>
    <div class="col-md-9">
      <div class="row ">
        <div class="col-md-12 mb-4 text-center ">
          <h3>Welcome to Dashboard {{uname|capfirst}} </h3>
        </div>
        <div class="col-md-12 mb-3 p-0">
          <a href="{% url 'addpost' %}" class="btn btn-success ">Add new Post</a>
        </div>
        <div class="col-md-12 alert alert-info text-center p-1">
          <h2>Your Privious Posts </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-0">
          <table class="table table-hover bg-white">
            <thead>
              <tr class ="text-center">
                <th scope="col" style="width:2%">Id</th>
                <th scope="col" style="width:28%">Title</th>
                <th scope="col" style="width:48%">Desc.</th>
                <th scope="col" style="width:22%">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <th class="align-middle" scope="row">{{post.id}}</th>
                <td class="align-middle">{{post.title}}</td>
                <td class="text-left align-middle">{{post.desc}}</td>
                <td class="align-middle text-center">
                  <a href="{% url 'editpost' post.id %}" class="btn btn-warning">Edit</a> 
                  {% if request.user.is_superuser %}
                  <a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a> 
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}